body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #35424a;
  color: white;
  text-align: center;
  padding: 1rem;
}

.fa-lock {
  color: yellow;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #cccccc;
}

main {
  padding: 2rem;
}

other {
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.destination-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background-color: #35424a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
