body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow: hidden;
  min-height: 100vh; /* 100% de la hauteur de la fenêtre */
}

.lock_outline {
  color: yellow;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #cccccc;
}

.home {
  display: flex;
  flex-wrap: wrap;
}

main {
  padding: 2rem;
}

.img-container {
  width: 500px;
  height: 500px;
  margin-right: 1rem;
}

.text-container {
  height: 500px;
  -webkit-columns: 500px auto;
  -moz-columns: 500px auto;
  columns: 500px auto;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
  overflow: hidden;
}

.text-part {
  overflow: auto;
  white-space: pre-wrap;
}

other {
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.destination-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Media query pour les écrans de petite taille (jusqu'à 600px de large) */
@media (max-width: 600px) {
  .img-container {
    width: 100%;
    height: auto;
  }

  .text-container {
    height: auto;
    -webkit-columns: 100% auto;
    -moz-columns: 100% auto;
    columns: 100% auto;
  }
}

/* Media query pour les écrans de taille moyenne (entre 601px et 1200px de large) */
@media (min-width: 601px) and (max-width: 1200px) {
  .img-container {
    width: 50%;
    height: auto;
  }

  .text-container {
    height: auto;
    -webkit-columns: 50% auto;
    -moz-columns: 50% auto;
    columns: 50% auto;
  }
}

.sidebar input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 1rem;
  background-color: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-top: 100px; /* Ajouter une marge en haut */
  padding-bottom: 50px; /* Ajouter une marge en bas */
}

header {
  background-color: #1E90FF;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 2;
  position: relative;
}

footer {
  background-color: #1E90FF;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  flex-shrink: 0;
  z-index: 2;
  position: relative;
}

