/* Réinitialisation des styles par défaut */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Styles généraux */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles du header */
header {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 2;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Styles du contenu principal */
main {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stockholm-image {
  max-width: 80%;
  max-height: 30vh;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.poetic-text {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1rem;
}

.photo-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.photo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.photo-text img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.photo-text p {
  margin-top: 10px;
}

/* Styles de la barre latérale */
.sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 50px;
  width: 300px;
  padding: 1rem;
  background-color: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
}

.sidebar h2,
.sidebar h3 {
  margin-top: 0;
}

.sidebar input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

/* Styles du footer */
footer {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  flex-shrink: 0;
  z-index: 2;
  position: relative;
  bottom: 0;
  width: 100%;
}
